source https://www.nuget.org/api/v2/

nuget WriteableBitmapEx framework: >= net46
nuget FSharp.Collections.ParallelSeq framework: >= net46
nuget Extended.Wpf.Toolkit framework: >= net46
nuget FsXaml.Wpf framework: >= net46