source https://www.nuget.org/api/v2/

nuget WriteableBitmapEx 1.5.0.0 framework: >= net46
nuget FSharp.Collections.ParallelSeq 1.0.2 framework: >= net46
nuget Extended.Wpf.Toolkit 2.5.0 framework: >= net46
nuget FsXaml.Wpf 0.9.9 framework: >= net46